<form accept-charset="UTF-8" action="/users/new" method="get">
    <!-- <input type="hidden" name="authenticity_token" value="BcLwzq5izc4iS7v1HbALYp3xyL713x7ODUzQlRa0mIDkXhTlXRQ1IDKZAdxo8UXv"> -->
    <label for="username">Username:</label></br>
    <input type="text" id="username" name="username"></br>
    <label for="email">Email:</label></br>
    <input type="email" id="email" name="email"></br>
    <label for="password">Password:</label></br>
    <input type="password" id="password" name="password"></br></br>
    <input name="commit" type="submit" value="Create" />
</form>

